<launch>

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    
    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>   
 
 
    <!-- 在 gazebo 中显示机器人模型 -->
    <!-- 与rviz不同（4）：launch-->
    <group ns="/robot_1">

    <include file="$(find big_map)/launch/includes/robot.launch.xml">
		<arg name="robot_name" value="robot_1"/>
		<arg name="init_pose" value="-x 0.0 -y 0.0 -z 0.0"/>
	</include>

    
    <node name="dynamic" pkg="big_map" type="dynamic.py" output="screen">
	<param name="robot_name" value="robot_1"/>
    </node>

    <node name="map_odom" pkg="big_map" type="map_odom.py" output="screen" >
    <param name="frame_id" value="robot_1" />
    <param name="child_frame_id" value="robot_1" />
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <param name="publish_frequency" type="double" value="30.0" />
    <param name="use_tf_static" type="bool" value="false" />
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 


	 
    
    </group>

    
    
  
    
    
     

    <node pkg="rviz" type="rviz" name="rviz" />
    
    


</launch>