<launch>

  
    <arg name="base_frame"  default="base_link"/>
    <arg name="odom_frame"  default="odom"/>

    

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> -->
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>        
        <rosparam file="$(find armbot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find armbot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find armbot_nav)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find armbot_nav)/config/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find armbot_nav)/config/base_local_planner_params.yaml" command="load" />
        
    </node>

</launch> 